@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, form,
label,  table, tbody, tr, th, td, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

header, nav, section {
    display: block;
}

body {
    line-height: 1;
    overflow: hidden;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Basic */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
    background-image: url("images/overlay.png");
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

input, select, button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    height: 30px;
    color: #888;
}

h1, h2, h5 {
    font-weight: 300;
    color: #666;
    line-height: 1.5em;
}

h2 {
    font-size: 26px;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
    -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    outline: 0;
}

a:hover {
    color: #E27689;
    border-bottom-color: rgba(255, 255, 255, 0);
}

br.clear {
    clear: both;
}

/* Container */

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

/* Sections/Article */

section {
    margin-bottom: 3em;
}

section > :last-child,
section > .container, section:last-child, article > :last-child,
article > .container, article:last-child {
    margin-bottom: 0;
}

/* Image */

.image {
    display: inline-block;
    border: 0;
}

/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding-left: 0;
}
ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}

/* Icons */
.icon {
    text-decoration: none;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 400;
}
.icon:before {
    line-height: inherit;
    font-size: 18px;
}
.icon > .label {
    display: none;
}
.icon.solid:before {
    font-weight: 900;
}
.icon.brands:before {
    font-family: 'Font Awesome 5 Brands', serif;
}

/* Menu */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #222629 url("images/overlay.png");
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 20%;
}
#header .top {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}
#header .bottom {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0 0;
}
#header .bottom > :last-child {
    margin-bottom: 0;
}
#header .copyright {
    cursor: default;
    margin: 0;
    text-align: center;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    font-size: 12px;
}
#header .copyright li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px rgba(128, 128, 128, 0.35);
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}
#header .copyright li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}
#header .icons {
    font-size: 0.8em;
    text-align: center;
}
#header .icons a {
    color: #41484c;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
}
#header .icons a:hover {
    color: #fff;
    filter: grayscale(100) brightness(200);
}

#logo {
    position: relative;
    margin: 1.75em 1.5em 1.5em 1.5em;
    min-height: 48px;
    cursor: default;
}
#logo h1 {
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
}
#logo p {
    position: relative;
    display: block;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
}
#logo .image {
    position: absolute;
    left: 0;
    top: 0;
}

#header .log-out ul li {
    padding-left: 0;
}
#header .log-out ul li a {
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}
#header .log-out ul li a span {
    position: relative;
    display: block;
    font-size: 14px;
}
#header .log-out ul li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
}
#header .log-out ul li a:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #e59623;
}

/* Nav */

#nav ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#nav ul li {
    padding-left: 0;
}
#nav ul li a {
    display: block;
    padding: 0.5em 1.5em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}
#nav ul.dropdown-show {
    display: none;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}
#nav ul li.dropdown-li:hover ul.dropdown-show {
    display: block;
}
#nav ul li a span {
    position: relative;
    display: block;
    font-size: 14px;
}
#nav ul li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
}
#nav ul li.dropdown-li a span:after {
    position: absolute;
    top: 1px;
    right: -18px;
    font-family: "Font Awesome 5 Free", serif;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    content: "\f107";
    margin-left: 0.5em;
}
#nav ul.dropdown-show li a {
    padding: 0.5em 1.5em 0.5em 1.5em;
}
#nav ul.dropdown-show li a span:after {
    display: none;
}
#nav ul li a:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #e59623;
}
#nav ul li a.active {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #fff;
}
#nav ul li a.active span:before {
    color: #e59623;
}

/* Main */

#main {
    margin-left: 20%;
}
#main > section {
    margin: 0;
    overflow: hidden;
    padding: 1em;
    text-align: center;
    background-color: #ecf1f1;
}
#main > section.page {
    position: relative;
    background-image: url("images/overlay.png");
    color: black;
    padding: 1%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
#main > section.page h2 {
    color: inherit;
}

/* ================================================================================================================== */

.button-panel {
    text-align: right;
    padding-right: 2%;
}

.left-column-25 {
    float: left;
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 50px 1% 1% 1%;
}
.right-column-75 {
    float: right;
    width: 72%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 50px 1% 1% 27%;
}
.left-column-50 {
    float: left;
    width: 48%;;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 50px 1% 1% 1%;
}
.right-column-50 {
    float: right;
    width: 48%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 50px 1% 1% 50%;
}
.column-100 {
    float: left;
    width: 98%;;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 50px 1% 1% 1%;
}

.right-column-atribut {
    display: none;
    width: 96%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 60px 2% 2% 2%;
    position: absolute;
    z-index: 2;
    box-shadow: 0 2px 10px 2px rgb(0 0 0 / 54%);
    border-radius: 25px;
}

.block-search {
    display: block;
    width: 100%;
    background-color: #e8e8e8;
    padding: 0 2%;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 10px;
    height: 44px;
    min-height: 44px;
    max-height: 44px;
    overflow: hidden;
}
.block-search input[type=search] {
    width: 75%;
    padding: 0 15px;
    border: 2px solid #808080;
    border-radius: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #808080;
    outline: none;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: url("../../images/search-clear.png");
    cursor: pointer;
}

.deleted-tag, .deleted-filter {
    display: none;
    float: right;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    top: 40%;
    bottom: 40%;
    right: 30%;
    left: 30%;
    z-index: 99999;
    border-radius: 25px;
    padding: 0;
}
.deleted-tag .container-nested, .deleted-filter .container-nested {
    overflow: hidden;
    position: relative;
    padding: 20px 15px 40px 15px;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 54%);
}
.deleted-tag .button-panel, .deleted-filter .button-panel {
    width: 100%;;
    position: absolute;
    bottom: 10px;
    right: 2%;
}
.container-nested {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f7f7f7;
    border-radius: 25px;
    border: 2px solid gray;
    /*height: -moz-available;          !* WebKit игнор. *!*/
    height: -webkit-fill-available;
    /*height: fill-available;*/
    padding: 10px;
    position: relative;
}

.left-column-25 .container-nested {
    overflow: hidden;
}
section#filters > .container-nested {
    overflow: hidden;
}
section#admin > .container-nested {
    overflow: hidden;
}

.block-search .inline-container {
    white-space: nowrap;
}
.block-search .inline-container div {
    width: 50%;
    display: inline-block;
}
.block-search .inline-container div:nth-child(1) {
    width: 50%;
    margin-right: 25%;
}
.block-search label {
    margin-right: auto;
}
.block-search .select {
    position: relative;
}
.block-search .select::after {
    font-family: "Font Awesome 5 Free", serif;
    color: rgb(128 128 143);
    font-weight: bold;
    content: "\f107";
    position: absolute;
    font-size: 19px;
    top: 3px;
    right: 14px;
    pointer-events: none;
}
.block-search input[placeholder='Поиск тегов...'], .block-search input[placeholder='Поиск...'] {
    width: 100%;
    padding: 0 15px;
    border: 2px solid #808080;
    border-radius: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #808080;
    outline: none;
    margin: 0;
}
.block-search select {
    width: 100%;
    padding: 0 35px 0 15px;
    border: 2px solid #808080;
    border-radius: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #808080;
    outline: none;
    margin: 0;
    cursor: pointer;
    text-overflow: ellipsis;
}

div#nonresulttag, div#nonresultfilter, div#nonresulttagforfilter {
    display: none;
    padding: 0;
    margin: 20% auto 0 0;
    text-align: center;
    font-size: 16px;
}
div#nonresultstudent, div#nonresultstuser {
    display: none;
    padding: 0;
    margin: 10% auto 0 0;
    text-align: center;
    font-size: 16px;
}
div#nonresultsttf {
    display: none;
    padding: 0;
    margin: 10% auto 0 0;
    text-align: center;
    font-size: 16px;
}

/* ================================================================================================================== */

section#tags .tag-categories {
    display: block;
    margin: 5% 3% 0 3%;
    padding: 0 3% 3% 3%;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    width: 94%;
    top: 0;
    left: 0;
}
section#tags .tag-categories > ul {
    list-style: none;
}
section#tags .tag-categories > ul h5 {
    width: 100%;
    text-align: right;
    border-bottom: dotted 1px #808080;
    margin: 3% 0;
    cursor: default;
}
section#tags .tag-categories > ul li label {
    font-size: 18px;
    padding: 1px 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .5);
    color: rgba(139, 139, 139, 1);
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
section#tags .tag-categories > ul li input[type="radio"] {
    width: 1px!important;
    margin: 0!important;
    padding: 0!important;
    position: absolute;
    opacity: 0;
}
section#tags .tag-categories > ul li input[type="radio"]:checked + label,
section#tags .tag-categories > ul li input[type="radio"]:hover + label {
    border: 2px solid #f6b73c;
    transition: all .2s;
}

section#tags .tag-list {
    display: block;
    background-color: #e8e8e8;
    margin: 0 3% 5% 3%;
    padding: 5px;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    width: 94%;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
section#tags .tag-list .search-tags {
    display: block;
    width: 96%;
    margin: 0 0 5px 2%;
}
section#tags .tag-list input[placeholder='Поиск...'] {
    display: block;
    width: 100%;
    padding: 0 15px;
    border: 2px solid #808080;
    border-radius: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #808080;
    outline: none;
}
section#tags .tag-list .tags {
    font-size: 11px;
    display: block;
    width: 98%;
    margin: 4% 0;
    padding-left: 4%;
    position: absolute;
    bottom: 0;
    top: 41px;
    right: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}
section#tags .tag-list > .tags ul.list-tag {
    list-style: none;
}
section#tags .tag-list > .tags ul.list-tag li {
    display: inline;
}
section#tags .tag-list > .tags ul.list-tag li label {
    font-size: 14px;
    padding: 1px 4px 1px 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .5);
    color: rgba(139, 139, 139, 1);
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
section#tags .tag-list > .tags ul.list-tag li button.del-tag {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 0 0 6px;
    font-size: 13px;
}
section#tags .tag-list > .tags ul.list-tag li button.del-tag::before {
    font-family: "Font Awesome 5 Free", serif;
    color: #adadad;
    content: "\f057";
}
section#tags .tag-list > .tags ul.list-tag li input[type="radio"] {
    position: absolute;
    opacity: 0;
}
section#tags .tag-list > .tags ul.list-tag li input[type="radio"]:checked + label,
section#tags .tag-list > .tags ul.list-tag li input[type="radio"]:hover + label {
    border: 2px solid #f6b73c;
    transition: all .2s;
}

section#tags .block-students {
    display: block;
    width: 100%;
    background-color: #e8e8e8;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 10px;
    height: 250px;
    overflow-x: auto;
    overflow-y: hidden
}
section#tags .block-management {
    display: block;
    width: 100%;
    background-color: #e8e8e8;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 10px;
    height: 44px;
    min-height: 44px;
    max-height: 44px;
    overflow: hidden;
}
section#tags .block-management .name-tag {
    display: inline-block;
    position: relative;
    width: 48%;
    margin-left: 2%;
}
section#tags .block-management .name-tag input[placeholder='Название тега'] {
    width: 100%;
    padding: 0 15px;
    border: 2px solid #808080;
    border-radius: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #808080;
    outline: none;
}
section#tags .block-management .panel-management {
    display: inline-block;
    width: 48%;
    text-align: right;
}
section#tags .block-management .panel-management button {
    background-color: transparent;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 0 3% 0 3%;
}
section#tags .block-management .panel-management button.del-student:before {
    font-family: "Font Awesome 5 Free", serif;
    color: #ff4c4c;
    font-weight: bold;
    content: "\f062";
}
section#tags .block-management .panel-management button.add-student:before {
    font-family: "Font Awesome 5 Free", serif;
    color: #97ff4c;
    font-weight: bold;
    content: "\f063";
}
section#tags .block-management .panel-management button.add-student:hover,
section#tags .block-management .panel-management button.del-student:hover {
    opacity: .7;
}

section#tags .students-list-in-tag {
    display: block;
    width: 100%;
    background-color: #e8e8e8;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    height: 250px;
    overflow-x: auto;
    overflow-y: hidden;
}

section#tags input[type=submit] {
    display: inline-block;
    margin: 0 3px;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #dadbdb;
    cursor: pointer;
    white-space: normal;
}
section#tags input[type=submit]:hover {
    background-color: #e59623;
    color: white;
}

section#tags .right-column-atribut input[type=button],
section#tags .right-column-atribut input[type=submit] {
display: inline-block;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #dadbdb;
    cursor: pointer;
}
section#tags .right-column-atribut input[type=button]:hover,
section#tags .right-column-atribut input[type=submit]:hover {
    background-color: #e59623;
    color: white;
}

section#tags .deleted-tag input[type=button],
section#tags .deleted-tag input[type=submit] {
    display: inline-block;
    margin: 0 3px;;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #dadbdb;
    cursor: pointer;
    white-space: normal;
}
section#tags .deleted-tag input[type=button]:hover,
section#tags .deleted-tag input[type=submit]:hover {
    background-color: #e59623;
    color: white;
}

/* ================================================================================================================== */

section#filters .filter-categories {
    display: block;
    margin: 5% 3% 0 3%;
    padding: 0 3% 3% 3%;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    width: 94%;
    top: 0;
    left: 0;
    overflow: hidden;
}
section#filters .filter-categories > ul {
    list-style: none;
}
section#filters .filter-categories > ul h5 {
    width: 100%;
    text-align: right;
    border-bottom: dotted 1px #808080;
    margin: 3% 0;
    cursor: default;
}
section#filters .filter-categories > ul li label {
    font-size: 19px;
    padding: 1px 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .5);
    color: rgba(139, 139, 139, 1);
    border-radius: 25px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 3px 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
section#filters .filter-categories > ul li input[type="radio"] {
    width: 1px!important;
    margin: 0!important;
    padding: 0!important;
    position: absolute;
    opacity: 0;
}
section#filters .filter-categories > ul li input[type="radio"]:checked + label,
section#filters .filter-categories > ul li input[type="radio"]:hover + label {
    border: 2px solid #f6b73c;
    transition: all .2s;
}

section#filters .filter-list {
    display: block;
    background-color: #e8e8e8;
    margin: 0 3% 5% 3%;
    padding: 5px;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    width: 94%;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
section#filters .filter-list .search-filters {
    display: block;
    width: 96%;
    margin: 0 0 5px 2%;
}
section#filters .filter-list input[placeholder='Поиск...'] {
display: block;
    width: 100%;
    padding: 0 15px;
    border: 2px solid #808080;
    border-radius: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #808080;
    outline: none;
}
section#filters .filter-list .filters {
    font-size: 11px;
    display: block;
    width: 98%;
    margin: 0 0 10px 0;
    padding: 0 4%;
    position: absolute;
    bottom: 0;
    top: 41px;
    right: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}
section#filters .filter-list .filters button {
    display: block;
    margin: 3% auto;
    border: none;
    padding: .25em;
    font-size: 14px;
    width: 100%;
    border-radius: 25px;
    background-color: #dadbdb;
    cursor: pointer;
}

/*section#filters input {*/
/*    display: block;*/
/*    font-size: 1em;*/
/*}*/
section#filters input[placeholder='Название фильтра'] {
    width: 94%;
    outline: none;
    margin: 1% auto;
    padding: .25em;
    border: none;
    border-bottom: dashed 1px dimgrey;
    background-color: #f7f7f7;
}
/*section#filters input[placeholder='Поиск...'] {*/
/*    width: 48%;*/
/*    padding: 0 15px;*/
/*    border: 2px solid #808080;*/
/*    border-radius: 25px;*/
/*    font-family: inherit;*/
/*    font-size: 14px;*/
/*    color: #444;*/
/*    outline: none;*/
/*}*/

section#filters .block-input-cle {
    position: relative;
    display: block;
}
section#filters .block-input-cle .input-cle {
    height: 70px;
    color: #888;
    padding: 2% 2% 0 2%;
    margin: 2% 15% 2% 0;
    cursor: default;
    background-color: #f7f7f7;
    border-radius: 8px;
    border: 1px dotted gray;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-align: left;
}
section#filters .block-input-cle > .clear-cle {
    position: absolute;
    top: 15px;
    right: 3%;
}
section#filters .block-input-cle > .clear-cle button {
    display: inline-block;
    font-size: 14px;
    padding: 1px 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .5);
    color: rgba(139, 139, 139, 1);
    border-radius: 25px;
    white-space: nowrap;
    margin: 0 .5%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
section#filters .container-tags {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e8e8e8;
    text-align: left;
    border-radius: 10px;
    height: 270px;
}
section#filters .container-tags .list-tags-for-filter {
    font-size: 11px;
    text-align: left;
    display: inline-block;
    width: 75%;
    padding-left: 4%;
    height: 255px;
    overflow: auto;
    overflow-x: hidden;
    border-right: dashed 1px;
}
section#filters .container-tags .list-tags-for-filter button {
    display: inline-block;
    font-size: 14px;
    padding: 1px 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .5);
    color: rgba(139, 139, 139, 1);
    border-radius: 25px;
    white-space: nowrap;
    margin: 0 1%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
section#filters .container-tags .list-tags-for-filter button:hover {
    border: 2px solid #f6b73c;
    transition: all .2s;
}
section#filters .container-tags .list-operators-for-filter {
    font-size: 11px;
    text-align: left;
    display: inline-block;
    width: 24%;
    height: 255px;
    overflow: hidden;
}
section#filters .container-tags .list-operators-for-filter > .logical-operator {
    display: block;
    margin: 4%;
}
section#filters .container-tags .list-operators-for-filter > .logical-operator button {
    font-size: 22px;
    padding: 1px 24px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid rgba(139, 139, 139, .5);
    color: rgba(139, 139, 139, 1);
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 60px;
    display: block;
    margin: 0;
}
section#filters .container-tags .list-operators-for-filter > .logical-operator .inline-btn {
    width: 100%;
    display: inline-block;
}
section#filters .container-tags .list-operators-for-filter > .logical-operator .inline-btn button:nth-child(1) {
    width: 50%;
    float: left;
    display: inline-block;
    border-top-left-radius: 15px;
}
section#filters .container-tags .list-operators-for-filter > .logical-operator .inline-btn button:nth-child(2) {
    width: 50%;
    display: inline-block;
    border-top-right-radius: 15px;
}
section#filters .container-tags .list-operators-for-filter > .logical-operator .inline-btn button:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
section#filters .container-tags .list-operators-for-filter > .logical-operator button:last-child {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
section#filters .container-tags .list-operators-for-filter > .logical-operator button:hover {
    border: 2px solid #f6b73c;
    transition: all .2s;
}

section#filters .button-panel button {
    display: inline-block;
    margin: 0 3px;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #dadbdb;
    cursor: pointer;
    white-space: normal;
}
section#filters .button-panel button:hover {
    background-color: #e59623;
    color: white;
}

section#filters .deleted-filter input[type=button],
section#filters .deleted-filter input[type=submit]{
    display: inline-block;
    margin: 0 3px;;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #dadbdb;
    cursor: pointer;
    white-space: normal;
}

section#filters .deleted-filter input[type=button]:hover,
section#filters .deleted-filter input[type=submit]:hover {
    background-color: #e59623;
    color: white;
}

/* ================================================================================================================== */

section#admin-users .block-users {
    display: block;
    background-color: #e8e8e8;
    margin: 6px 2% 2% 2%;
    padding: 10px 2%;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    width: 96%;
    top: 53px;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
}
section#admin-users .block-users .users-list {
    font-size: 11px;
    display: block;
    width: 96%;
    padding-left: 4%;
    height: 480px;
    overflow: auto;
    border-radius: 10px;
}

section#admin-users .block-institutions {
    display: block;
    background-color: #e8e8e8;
    padding: 1% 0 2% 0;
    text-align: left;
    border-radius: 10px;
    width: 100%;
    height: auto;
}
section#admin-users .block-institutions .institutions-list {
    font-size: 11px;
    display: block;
    width: 80%;
    height: 350px;
    border-radius: 5px;
    margin: 0 auto 5%;
}
section#admin-users .block-institutions .institutions-list #institutions {
    height: 36%;
    min-height: 36%;
    max-height: 36%;
    overflow: auto;
}
section#admin-users .block-institutions .institutions-list #schools {
    height: 36%;
    min-height: 36%;
    max-height: 36%;
    overflow: auto;
}
section#admin-users .block-institutions .institutions-list h5 {
    width: 100%;
    font-size: 18px;
    text-align: right;
    border-bottom: dotted 1px #808080;
    margin: 3% 0;
}

section#admin-users input[type=submit] {
    display: inline-block;
    margin: 0 3px;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #dadbdb;
    cursor: pointer;
    white-space: normal;
}
section#admin-users input[type=submit]:hover {
    background-color: #e59623;
    color: white;
}

/* ================================================================================================================== */

section#admin-tf .block-tf {
    display: block;
    background-color: #e8e8e8;
    margin: 6px 0 2% 1%;
    padding: 10px 2%;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    width: 98%;
    top: 53px;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
}
section#admin-tf .block-tf .users-list {
    font-size: 11px;
    display: block;
    width: 96%;
    padding-left: 4%;
    height: 480px;
    overflow: auto;
    border-radius: 10px;
}

/* ================================================================================================================== */

form#atribut-settings > .block-atributes {
    display: block;
    width: 100%;
    background-color: #e8e8e8;
    padding: 10px 0;
    text-align: left;
    border-radius: 10px;
    height: 400px;
}
form#atribut-settings > .block-atributes .atributes-list {
    font-size: 14px;
    display: block;
    width: 98%;
    padding-left: 4%;
    /*margin: 0 2% 1% 2%;*/
    height: 370px;
    overflow: auto;
    border-radius: 10px;
}

/* ================================================================================================================== */

#auth {
    min-height:100%;
    /*position:relative;*/
    background-image: url("images/overlay.png");
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
    background: #222;
}
.contact-form {
    display: block;
    width: 35%;
    margin: 0 auto;
    padding-top: 175px;
}
form#contact input[type="text"], form#contact input[type="password"] {
    width: 95%;
    padding: 0 1em;
    border: 2px solid #808080;
    border-radius: 25px;
    font-family: inherit;
    font-size: 16px;
    color: #444;
    outline: none;
    margin: 2% 0;
    height: 30px;
}
form#contact input[type=submit] {
    display: inline-block;
    margin: 0 5%;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #dadbdb;
    cursor: pointer;
    white-space: normal;
}
form#contact input[type=submit]:hover {
    background-color: #e59623;
    color: white;
}

.footer {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
}
.footer > :last-child {
    margin-bottom: 0;
}
.footer .copyright {
    cursor: default;
    margin: 0;
    text-align: center;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    font-size: 12px;
}
.footer .copyright li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px rgba(128, 128, 128, 0.35);
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}
.footer li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}
.footer .icons {
    font-size: 0.8em;
    text-align: center;
}
.footer .icons a {
    color: #41484c;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
}
.footer .icons a:hover {
    color: #fff;
    filter: grayscale(100) brightness(200);
}

/* ================================================================================================================== */

.back-ground-show {
    display: none;
    height: calc(100vh * 4);
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 35%);
}

.context-menu-tag-open, .context-menu-filter-open {
    display: none;
    position: fixed;
    z-index: 10;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 54%);
    border-radius: 7px;
    background-color: transparent;
}
.blockAlert {
    font-size: 12px;
    display: none;
    line-height: 20px;
    position: fixed;
    z-index: 10;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 54%);
    border-radius: 12px;
    background-color: #ff8787;
    color: #8f0000;
    width: 120px;
    text-align: center;
    font-weight: 400;
}
.context-menu-tag-open > ul {
    padding: 0;
    margin: 0;
    width: 150px;
}
.context-menu-tag-open button, .context-menu-filter-open button {
    display: block;
    background-color: white;
    width: 150px;
    height: 35px;
    cursor: pointer;
    font-size: 14px;
    list-style: none;
    padding: 0 10%;
    border: none;
    margin: 0;
    border-bottom: 1px solid #808080;
}
.context-menu-tag-open button:first-child, .context-menu-filter-open button:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.context-menu-tag-open button:last-child, .context-menu-filter-open button:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.context-menu-tag-open button:last-child, .context-menu-filter-open button:last-child {
    display: block;
    border-bottom: 1px solid transparent;
}
.context-menu-tag-open button:hover, .context-menu-filter-open button:hover {
    background-color: #dddcdc;
}
.context-menu-tag-open button:first-child:hover, .context-menu-filter-open button:first-child:hover {
    background-color: #dddcdc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.context-menu-tag-open button:last-child:hover, .context-menu-filter-open button:last-child:hover {
    background-color: #dddcdc;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* ================================================================================================================== */

td > .checkbox + label::before {
    margin-right: 0;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox + label {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    user-select: none;
    line-height: 16px;
    margin: 0 2% 0 0;
    cursor: pointer;
}
.checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 14px;
    border: 1px solid #60666c;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #ecc274;
}
.checkbox:not(:disabled):active + label::before {
    background-color: #ecc274;
    border-color: #ecc274;
}
.checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(243, 181, 73, 0.4);
}
.checkbox:focus:not(:checked) + label::before {
    border-color: #ecc274;
}
.checkbox:checked + label::before {
    border-color: #f6b73c;
    background-color: #f6b73c;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checkbox:disabled+label::before {
    background-color: #e9ecef;
}

/* ================================================================================================================== */

table {
    width: 100%;
    table-layout: fixed;
}
.tbl-header th, .block-tf .tbl-header th:nth-child(1) {
    position: relative;
    cursor: pointer;
}
.tbl-header th:nth-child(1), .block-tf .tbl-header th:nth-last-child(1) {
    position: relative;
    cursor: default;
}

th.sort-down, th.sort-up  {
    position: relative;
}

th.sort-down::after, th.sort-up::after {
    position: absolute;
    right: 5px;
    font-family: "Font Awesome 5 Free", serif;
    color: #000;
    font-weight: bold;
    margin-left: 0.5em;
    opacity: 0.25;
}
th.sort-down::after, .block-tf .tbl-header th.sort-down:nth-child(1):after {
    content: "\f107";
}
th.sort-up::after, .block-tf .tbl-header th.sort-up:nth-child(1):after {
    content: "\f106";
}
th.sort-down:hover:after, th.sort-up:hover:after {
    opacity: 1;
}

.tbl-header th:nth-child(1):after {
    content: "";
}
.tbl-content {
    height: 185px;
    overflow-x: auto;
    margin-top: 0;
}
.block-tf .tbl-content {
    height: 415px;
    overflow-x: auto;
    margin-top: 0;
}
td input[type=submit] {
    display: inline-block;
    margin: 6px 3px;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #dadbdb;
    cursor: pointer;
    white-space: normal;
}
td input[type=submit]:hover {
    background-color: #e59623;
    color: white;
}
th {
    background-color: #ecc274;
    height: 40px;
    cursor: default;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
    border: solid 1px white;
    overflow: hidden;
    text-overflow: ellipsis;
}
td {
    cursor: default;
    padding: 0 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #000;
    border-bottom: solid 1px rgb(104, 104, 104, .2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
th:first-child, td:first-child {
    text-align: center;
    width: 5%;
    overflow: initial;
    text-overflow: initial;
    padding: 5px 10px 0 10px;
}
th:nth-child(2) {
    width: 30%;
}
td:nth-child(2) {
    text-align: left;
    width: 30%;
}
th:nth-child(3), td:nth-child(3) {
    text-align: center;
    width: 18%;
}
th:nth-child(4), td:nth-child(4) {
    text-align: center;
    width: 10%;
}
th:nth-child(5), td:nth-child(5) {
    text-align: center;
    width: 18%;
}
th:nth-child(6), td:nth-child(6) {
    text-align: center;
    width: 18%;
}
.block-users > .tbl-header > table th:nth-child(3) {
    width: 35%;
}
.block-users > .tbl-content > table td:nth-child(3) {
    width: 35%;
    text-align: left;
}
.block-users > .tbl-content {
    margin-top: 0;
    width: 96%;
    position: absolute;
    bottom: 0;
    height: auto;
    margin-bottom: 2%;
    overflow-x: hidden;
}
/**/
.block-tf th:first-child {
    text-align: center;
    width: 20%;
    overflow: initial;
    text-overflow: initial;
    padding: 0 10px;
}
.block-tf td:first-child {
    text-align: left;
    width: 20%;
    overflow: initial;
    text-overflow: initial;
    padding: 0 10px;
}

.block-tf th:nth-child(2), .block-tf td:nth-child(2),
.block-tf th:nth-child(3), .block-tf td:nth-child(3),
.block-tf th:nth-child(4), .block-tf td:nth-child(4),
.block-tf th:nth-child(5), .block-tf td:nth-child(5) {
    text-align: center;
    width: 15%;
}

/* ================================================================================================================== */

hr.hr-dashed {
    margin: 2% 3%;
    border: none;
    border-top: dashed 1px dimgrey;
}

hr.hr-dashed-left {
    margin: 0 auto;
    border: none;
    border-top: solid 1px dimgrey;
}

/* ================================================================================================================== */

::-webkit-scrollbar {
    width: 4px;
    background-color: #ecf1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 1px solid #ecf1f1;
}
::-webkit-scrollbar-track {
    margin: 0;
    border-radius: 20px;
}

#header::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
#header::-webkit-scrollbar-track {
    margin: 4px;
    border-radius: 20px;
}
#header::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 1px solid #222729;
}

.container-nested::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
.container-nested::-webkit-scrollbar-track {
    margin: 20px;
    border-radius: 20px;
}
.container-nested::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #f7f7f7;
}

.list-tags-for-filter::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
}
.list-tags-for-filter::-webkit-scrollbar-track {
    margin: 5px;
    border-radius: 20px;
}
.list-tags-for-filter::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #e8e8e8;
}

.filters::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
.filters::-webkit-scrollbar-track {
    margin: 5px;
    border-radius: 20px;
}
.filters::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #e8e8e8;
}

.filter-categories::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
}
.filter-categories::-webkit-scrollbar-track {
    margin: 10px;
    border-radius: 20px;
}
.filter-categories::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #f7f7f7;
}

.tag-categories::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
.tag-categories::-webkit-scrollbar-track {
    margin: 5px;
    border-radius: 20px;
}
.tag-categories::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 1px solid #f7f7f7;
}

.tags::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
.tags::-webkit-scrollbar-track {
    margin: 5px;
    border-radius: 20px;
}
.tags::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 1px solid #e8e8e8;
}

.block-students::-webkit-scrollbar, .students-list-in-tag::-webkit-scrollbar  {
    height: 9px;
    background-color: transparent;
}
.block-students::-webkit-scrollbar-track, .students-list-in-tag::-webkit-scrollbar-track  {
    margin: 10px;
    border-radius: 20px;
}
.block-students::-webkit-scrollbar-thumb, .students-list-in-tag::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #e8e8e8;
}

.institutions-list #institutions::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
}
.institutions-list #institutions::-webkit-scrollbar-track {
    margin: 5px;
    border-radius: 20px;
}
.institutions-list #institutions::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #e8e8e8;
}
.institutions-list #schools::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
}
.institutions-list #schools::-webkit-scrollbar-track {
    margin: 5px;
    border-radius: 20px;
}
.institutions-list #schools::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #e8e8e8;
}

.logical-operator::-webkit-scrollbar {
    height: 9px;
    background-color: transparent;
}
.logical-operator::-webkit-scrollbar-track {
    margin: 7px;
    background-color: transparent;
}
.logical-operator::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #e8e8e8;
}

.atributes-list::-webkit-scrollbar {
    height: 9px;
    background-color: transparent;
}
.atributes-list::-webkit-scrollbar-track {
    margin: 7px;
    background-color: transparent;
}
.atributes-list::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 1px solid #e8e8e8;
}

.tbl-content::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
}
.tbl-content::-webkit-scrollbar-track {
    margin: 0;
    border-radius: 20px;
}
.tbl-content::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #e8e8e8;
}

.input-cle::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
}
.input-cle::-webkit-scrollbar-track {
    margin: 10px;
    background-color: transparent;
}
.input-cle::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 25px;
    border: 3px solid #f7f7f7;
}

/* ================================================================================================================== */

@media screen and (min-width: 1920px) {
    section#tags .block-students {
        height: 500px;
    }
    .left-column-25 {
        margin: 55px 1% 1% 1%;
    }
    .right-column-75 {
        margin: 55px 1% 1% 27%;
    }

    section#tags .students-list-in-tag {
        height: 500px;
    }

    .container-tags {
        height: 560px;
    }

    form#atribut-settings > .block-atributes {
        height: 600px;
    }
    form#atribut-settings > .block-atributes .atributes-list {
        height: 560px;
    }

    .tbl-content {
        height: 410px;
    }
    .block-users > .tbl-content {
        top: 60px;
    }

    section#admin-users .block-institutions .institutions-list {
        height: 560px;
    }

    section#filters .container-tags {
        height: 555px;
    }
    section#filters .container-tags .list-tags-for-filter {
        height: 530px;
    }
    section#filters .container-tags .list-operators-for-filter {
        height: 530px;
    }

    section#tags .tag-list {
        top: 40%;
    }

    section#filters .filter-list {
        top: 30%;
    }
}

@media screen and (min-width: 1621px) and (max-width: 1919px) {
    section#tags .block-students {
        height: 500px;
    }

    section#tags .students-list-in-tag {
        height: 500px;
    }

    .container-tags {
        height: 500px;
    }

    section#filters .container-tags {
        height: 490px;
    }
    section#filters .container-tags .list-tags-for-filter {
        height: 470px;
    }
    section#filters .container-tags .list-operators-for-filter {
        height: 470px;
    }

    form#atribut-settings > .block-atributes {
        height: 600px;
    }
    form#atribut-settings > .block-atributes .atributes-list {
        height: 560px;
    }

    .tbl-content {
        height: 410px;
    }
    .block-users > .tbl-content {
        top: 100px;
    }

    section#admin-users .block-institutions .institutions-list {
        height: 500px;
    }
}

/* Wide */
@media screen and (min-width: 961px) and (max-width: 1880px) {
    /* Basic */
    body, input, select {
        font-size: 17pt;
    }

    #header {
        width: 20%;
    }

    #main {
        margin-left: 20%;
    }
}

/* Normal */
@media screen and (min-width: 961px) and (max-width: 1620px) {
    /* Main */
    #main > section {
        padding: 1em;
    }

    #main section.page {
        padding: 1%;
        height: 100vh;
    }
}

/* Narrow */
@media screen and (min-width: 961px) and (max-width: 1320px) {
    body, input, select {
        font-size: 16pt;
    }

    ul.icons li a {
        width: 1.75em;
    }

    #header {
        width: 20%;
    }

    #logo .image {
        position: relative;
        margin: 0 0 0.5em 0;
    }

    #nav ul li a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #nav ul li.dropdown-li a {
        padding: 0.5em 0;
    }
    #nav ul li a span {
        padding-right: 3.25em;
        font-size: 12px;
    }
    #nav ul li.dropdown-li a span {
        padding: 0 6em 0 3em;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #nav ul li a span:before {
        left: 100%;
        margin-left: -1.25em;
        line-height: 2.25em;
    }
    #nav ul li.dropdown-li a span:before {
        left: 100%;
        margin-left: -3em;
        line-height: 2.25em;
    }
    #nav ul li.dropdown-li a span:after {
        right: 15px;
    }

    #header .log-out ul li a span {
        padding-right: 3.25em;
        font-size: 12px;
    }
    #header .log-out ul li a span:before {
        left: 100%;
        margin-left: -1.25em;
        line-height: 2.25em;
    }
    #header .copyright {
        font-size: 10px;
    }

    #main {
        margin-left: 20%;
    }

    section#filters .filter-categories > ul li label {
        font-size: 15px;
    }
    section#tags .tag-categories > ul li label {
        font-size: 15px;
    }
}

/* Narrower */
#headerToggle {
    display: none;
}

@media screen and (max-width: 960px) {
    html, body {
        overflow-y: visible;
    }

    header br {
        display: none;
    }

    ul.icons a {
        width: 1.75em;
        font-size: 1.25em;
    }

    #header {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        -webkit-overflow-scrolling: touch;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background: #222729 url("images/overlay.png");
        box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
    }

    #header .top {
        position: relative;
    }

    #header .bottom {
        border-top: solid 1px rgba(255, 255, 255, 0.05);
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
        padding-top: 2em;
        margin-top: 2em;
        position: relative;
    }

    #logo {
        margin: 1.5em 1.25em 1.25em 1.25em;
    }

    #nav ul li a {
        padding: 0.5em 1.25em 0.5em 1.25em;
    }

    #headerToggle {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 2.25em;
        left: 0;
        position: fixed;
        top: 0;
        width: 3.25em;
        z-index: 1;
    }

    #headerToggle .toggle {
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
    }

    #headerToggle .toggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: 'Font Awesome 5 Free', serif;
        font-weight: 900;
    }

    #headerToggle .toggle:before {
        text-decoration: none;
        content: "\f0c9";
        color: #fff;
        font-size: 18px;
        background: rgba(128, 136, 144, 0.5);
        border-radius: 0.35em;
        text-align: center;
        position: absolute;
        left: 0.5em;
        top: 0.5em;
        display: block;
        width: 2.25em;
        height: 30px;
        line-height: 1.75em;
    }

    body.header-visible #main {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.header-visible #headerToggle {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.header-visible #header {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    #main {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
        margin-left: 0;
    }

    #main > section {
        padding: 1em;
    }

    #main section.page {
        height: auto;
        padding: 1%;
        position: initial;
    }

    .left-column-25 {
        float: left;
        width: 25%;
        position: initial;
        margin: 0;
    }
    .right-column-75 {
        float: right;
        width: 74%;
        position: initial;
        margin: 0;
    }

    .left-column-50 {
        float: left;
        width: 48%;;
        position: initial;
        margin: 0;
    }
    .right-column-50 {
        float: right;
        width: 48%;
        position: initial;
        margin: 0;
    }

    .column-100 {
        width: 100%;
        position: initial;
        margin: 0;
    }

    .right-column-atribut {
        position: fixed;
    }

    .container-nested {
        height: 500px;
    }

    .deleted-tag, .deleted-filter {
        right: 10%;
        left: 10%;
        top: 25%;
        position: fixed;
    }
    .deleted-tag > .container-nested, .deleted-filter > .container-nested {
        height: 150px;
    }

    section#tags .tag-categories > ul li label {
        font-size: 12px;
        display: block;
        line-height: 18px;
        width: auto;
        text-align: center;
    }
    section#filters .filter-categories > ul li label {
        font-size: 12px;
        display: block;
        line-height: 18px;
        width: auto;
        text-align: center;
    }

    .block-students > .tbl-header, .block-students > .tbl-content,
    .students-list-in-tag > .tbl-header, .students-list-in-tag > .tbl-content {
        width: 650px;
        padding-right: 2%;
    }

    .checkbox + label {
        font-size: 16px;
    }
}

/* Mobile */
@media screen and (max-width: 736px) {
    h2 {
        font-size: 1.5em;
        letter-spacing: 0;
        font-weight: 300;
    }

    /* List */
    ul.icons a {
        width: 2em;
        font-size: 1.25em;
    }

    /* Main */
    #main > section {
        padding: 1em;
    }

    #main section.page {
        padding: 0.5em;
        position: initial;
    }

    .left-column-25 {
        width: 100%;
        margin-bottom: 2%;
    }
    .right-column-75 {
        width: 100%;
        position: initial;
        margin: 0;
    }
    .left-column-50 {
        width: 100%;
        margin-bottom: 2%;
    }
    .right-column-50 {
        width: 100%;
        position: initial;
        margin: 0;
    }

    .container-nested {
        height: 550px;
    }
    .deleted-tag, .deleted-filter {
        right: 10%;
        left: 10%;
        position: fixed;
    }
    .deleted-tag > .container-nested, .deleted-filter > .container-nested {
        height: 150px;
    }
    section#tags .tag-categories,
    section#filters .filter-categories {
        margin: 2% 3% 0 3%;
    }
    section#tags .tag-categories > ul h5,
    section#filters .filter-categories > ul h5 {
        margin: 0;
    }
    section#tags .tag-categories > ul li,
    section#filters .filter-categories > ul li {
        display: inline;
    }
    section#tags .tag-categories > ul li label,
    section#filters .filter-categories > ul li label{
        font-size: 14px;
        display: inline-block;
        line-height: 18px;
        width: auto;
        text-align: center;
    }


    .tbl-header th {
        font-size: 10px;
        line-height: 10px;
        white-space: initial;
    }
    .tbl-content td {
        font-size: 10px;
    }


    section#tags .tag-categories > ul li label {
        font-size: 14px;
    }

    form#filter-settings input[placeholder='Логическое выражение'] {
        font-size: 20px !important;
    }

    .logical-operator li {
        display: inline;
        margin: 0 1%;
    }

    section#filters .container-tags .list-tags-for-filter {
        display: block;
        width: 100%;
        height: 200px;
        padding: 0 4%;
        margin-bottom: 1%;
        border-right: none;
    }
    section#filters .container-tags .list-operators-for-filter {
        width: 100%;
        height: 60px;
    }
    section#filters .container-tags .list-operators-for-filter > .logical-operator {
        margin: 0 5%;
        padding: 0 1%;
        max-height: 50px;
        height: 50px;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
    }
    section#filters .container-tags .list-operators-for-filter > .logical-operator .inline-btn {
        width: auto;
        display: flex;
    }
    section#filters .container-tags .list-operators-for-filter > .logical-operator button  {
        height: 40px;
        display: inline;
    }
    section#filters .container-tags .list-operators-for-filter > .logical-operator .inline-btn button:nth-child(1) {
        float: left;
        display: inline-block;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    section#filters .container-tags .list-operators-for-filter > .logical-operator .inline-btn button:nth-child(2) {
        width: auto;
        display: inline-block;
        border-top-right-radius: 0;
    }
    section#filters .container-tags .list-operators-for-filter > .logical-operator button:last-child {
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
    }

    section#filters .block-search .inline-container div:nth-child(1) {
        margin-right: 2%;
    }
    section#filters .block-search .inline-container div {
        width: 90%;
        display: inline-block;
    }

    .block-students > .tbl-header, .block-students > .tbl-content,
    .students-list-in-tag > .tbl-header, .students-list-in-tag > .tbl-content {
        width: 650px;
        padding-right: 2%;
    }

    section#filters .block-search .select::after {
        top: 5px;
    }
}